################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SNF_CS_Installer.Setup/SourceFiles
