<?xml version="1.0" encoding="utf-8"?>
<!--
  <copyright file="WelcomeDlg.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="LocatePlatformFolders" Width="370" Height="270" Title="Locate Platform Folder">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <!--<Publish Event="DoAction" Value="InsertPlatforms"   Order="1">1</Publish>-->
          <Publish Event="NewDialog" Value="LicenseAuthenticationDlg" Order="5">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <!--<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />-->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="270" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Welcome to the Message Sniffer Platforms Screen." />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="Please select the platform you will use with Message Sniffer." />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Property="SELECTEDPLATFORM_TEXT" Value=" " Order="5">1</Publish>
          <Publish Property="PLATFORMFOUND_TEXT" Value=" " Order="10">1</Publish>
          <Publish Event="NewDialog" Value="PlatformSelectionDlg" Order="15">1</Publish>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Type="Text" Id="txtDescription" Width="289" Height="28" X="27" Y="60" Text="[SELECTEDPLATFORM_TEXT]"/>
        <Control Type="Text" Id="txtPlatformFound" Width="314" Height="20" X="27" Y="110" Text="[PLATFORMFOUND_TEXT]" />
        <Control Type="PathEdit" Id="pthPlatformFolder" Width="280" Height="15" X="30" Y="150" Property="PLATFORMFOLDER">
          <Condition Action="hide">SELECTEDPLATFORM ~= "OTHER"</Condition> 
        </Control>
        <Control Type="PushButton" Id="btnPlatformFolderBrowse" Width="56" Height="17" X="311" Y="149" Text="...">

          <Condition Action="hide">SELECTEDPLATFORM ~= "OTHER"</Condition>
          <Publish Property="_BrowseProperty" Value="PLATFORMFOLDER" Order="2">1</Publish>
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="3">1</Publish>
          
          
        </Control>
        <Control Type="PathEdit" Id="pthSNFInstallFolder" Width="280" Height="15" X="30" Y="199"  Property="INSTALLFOLDER"/>
        <Control Type="PushButton" Id="btnSNFInstallFolderBrowse" Width="56" Height="17" X="311" Y="197" Text="...">
          <Publish Property="_BrowseProperty" Value="INSTALLFOLDER" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="5">1</Publish>
        </Control>
        <Control Type="Text" Id="txtSNFInstallDir" Width="332" Height="10" X="27" Y="180" Text="Please confirm/locate the folder you wish Message Sniffer to be installed in." />
      </Dialog>
    </UI>
  </Fragment>
</Wix>